body {background-color:#99ffff;background-image:url("/web/20130325153536im_/http://www.feinst.demon.co.uk/Joelbg.jpg");}

/*
     FILE ARCHIVED ON 15:35:36 Mar 25, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:21:46 Nov 02, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 152.54 (3)
  esindex: 0.007
  captures_list: 168.035
  CDXLines.iter: 10.719 (3)
  PetaboxLoader3.datanode: 52.785 (4)
  exclusion.robots: 0.182
  exclusion.robots.policy: 0.169
  RedisCDXSource: 1.745
  PetaboxLoader3.resolve: 110.254
  load_resource: 36.895
*/